body .footer {
  top: initial !important;
  bottom: 0px !important;
  min-height: initial !important;
  background: #225831;
  position: absolute;
  z-index: 0;
  width: 100%;
  border-bottom-width: 0px !important;
}

body .footer footer {
  min-height: 50px;
  background: transparent;
  color: white;
  position: relative;
  z-index: 3;
}

div.bottom-footer {
  font-size: .9em;
  background: #1e4d2b;
  width: 100%;
  padding: 14px 0px 0px;
  margin-top: 25px;
}

.footer img {
  vertical-align: middle;
  max-height: 60px;
}

div.bottom-footer ul {
  text-align: left;
  padding: 0;
  display: block;
}

body .footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div.bottom-footer ul li:first-child {
  padding-left: 0;
}

div.bottom-footer ul li {
  font-size: inherit;
  padding: 0 10px 0 10px;
  display: inline-block;
  border-right: 1px solid white;
}

body .footer ul li {
  line-height: 1.5em;
  margin-bottom: .7em;
}

div.bottom-footer ul li:last-child {
  border-right: 0;
}

div.bottom-footer .bottomlogo {
  padding-bottom: 15px;
}

body .footer a {
  color: white;
  font-family: 'prox-regular';
}
